<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=EVESAR\SQLEXPRESS;Initial Catalog=BBfinalDB;Integrated Security=True"
      providerName="System.Data.sqlClient" />
    <add name="BBProject.Properties.Settings.BBfinalDBConnectionString"
      connectionString="Data Source=EVESAR\SQLEXPRESS;Initial Catalog=BBfinalDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
